.header {

  background-color: #a2a0f3;
  display: flex;

}

.header li{
  display: inline;

}

.header a {
  color: white;
  cursor: pointer;
  font-size: 14px;
  padding-left: 30px;
  text-decoration: none;
  list-style: none;
}

.header a:hover {
  text-decoration: underline;
}